body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

.navbar {
  background-color: white;
}
.navbar-brand {
  font-size: 25px;
  font-weight: 600;
  font-style: blique;
  color: cornflowerblue;
}

.homepic {
  width: 500px;
  height: 500%;
  border: 1px solid black;
}

.container,
.container-fluid {
  background-color: white;
}

.Doctor_image {
  height: 80vh;
  width: 100%;
}
/* Header  CSS*/

.signin {
  background-color: #ffffff;
  border: 1px solid #0f38a1;
  border-radius: 16px;
  width: 80px;
  height: 29px;
  color: #0f38a1;
}
.signup {
  background-color: #ed930c;
  width: 91px;
  height: 29px;
  border-radius: 16px;
  border: 1px solid #ed930c;
  color: white;
}
.btn {
  margin-left: 10px;
  display: inline;
}
.nav-link {
  color: #0f38a1;
}

.search-btn {
  margin-left: -1.8rem;
  margin-bottom: 5px;
}
.dochub_logo {
  width: 50%;
  height: 3rem;
}
.dochub_logomain {
  width: 90%;
  height: 3rem;
}
ul {
  margin-left: 1rem;
}
.search {
  margin-top: 3px;
  margin-right: 0;
}
/* Footer CSS */
footer {
  text-align: center;
  background-color: white;
  height: 1rem;
  display: flex;
  text-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  height: 100%;
  width: 100%;
}
.f-info-link a {
  text-decoration: none;
  color: #222222;
  margin: 1rem;
}
.f-info-link a:hover {
  background-color: grey;
}
.f-info-link,
.f-info-social,
.f-info-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.f-info {
  width: 100%;
}

/* Main */
.main-content {
  min-height: 80vh;
}
.Doctor_image {
  max-width: 100%;
  max-height: 100%;
}
.bookbtn {
  width: 300px;
  height: 104px;
  border: 1px solid orange;
  position: absolute;
  top: 50%;
  left: 37%;
  background: linear-gradient(-30deg, #ffd200 50%, #f7971e 50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 100px;
}
