body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

.navbar {
  background-color: white;
}
.navbar-brand {
  font-size: 25px;
  font-weight: 600;
  font-style: blique;
  color: cornflowerblue;
}

.homepic {
  width: 500px;
  height: 400%;
  border: 1px solid black;
}

.container,
.container-fluid {
  background-color: white;
}

.Doctor_image {
  height: 80vh;
  width: 100%;
}
/* Header  CSS*/

.signin {
  background-color: #ffffff;
  border: 1px solid #0f38a1;
  border-radius: 16px;
  width: 80px;
  height: 29px;
  color: #0f38a1;
}
.signup {
  background-color: #ed930c;
  width: 91px;
  height: 29px;
  border-radius: 16px;
  border: 1px solid #ed930c;
  color: white;
}
.btn {
  margin-left: 10px;
  display: inline;
}
.nav-link {
  color: #0f38a1;
}

.search-btn {
  margin-left: -1.8rem;
  margin-bottom: 5px;
}
.dochub_logo {
  width: 50%;
  height: 3rem;
}
.dochub_logomain {
  width: 90%;
  height: 3rem;
}
ul {
  margin-left: 1rem;
}
.search {
  margin-top: 3px;
  margin-right: 0;
}
/* Footer CSS */
#footer {
  text-align: center;
  background-color: #82c4fe;

  display: flex;
  text-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  /* height: 100%; */
  width: 100%;
}
.f-info-link  {
  text-decoration: none;
  /* color: #222222; */
  margin: 10px;
  color: white;
}
.f-info-link a:hover {
  background-color: grey;
}
.f-info-link,
.f-info-social,
.f-info-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  color: white;
  display: inline;
  /* margin: 10px; */
}

.f-info {
  width: 100%;
}
.footerbtn {
  background: transparent;
  color: white;
  font-weight: bold;
  border: 1px white solid;
  padding: 6.5px;
}
/* Main */
.main-content {
  min-height: 80vh;
}
.Doctor_image {
  max-width: 100%;
  max-height: 100%;
}
.maintext {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 30%;
  left: 5%;
  color: #0f38a1;
  background: transparent;
  font-size: 50px;
  padding: 12px 24px;
}
.mainbtn {
  width: 180px;
  height: 50px;
  position: absolute;
  top: 60%;
  left: 6%;
  color: #0f38a1;
  background: transparent;
  font-weight: bolder;
}
.about {
  text-decoration:none;
  font-weight: bold;
  color: white;
}
@media screen and (max-width: 700px) {
  .maintext {
    width: 300px;
  }
  .mainbtn{
    top:70%;
    left: 9%;
  }
}
  @media screen and (max-width: 991px) {
  .footerbtn{
    padding: 13px;
  }
}