/* MainContent.css */
/* .main-content{
    display: flex;
    flex-direction: row;
   
    height: 50vh;
    
  } */

 /* .Doctor_image{
        height: 50vh;
        width: 100vh;
       
       
      } */
      